{% extends "registration/base.djt" %}
{% load staticfiles %}
{% block content %}

<div class="row main_header">
	<center><h2><b>Password Reset!</b></h2></center>
	<br>
</div>

<div class="container">
	
	<div class="row" style="margin-top:2%">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="alert alert-success">			  
			  <strong>
			  A link has been sent to your E-mail!
			  <br>Please Follow the link to reset your Password(Check Spam folders too!).
			  </strong>
			  <!-- <br> <a href="/register">Login</a> -->
			</div>
		</div>
	</div>
	
	
</div>

{% endblock%}