{% extends "registration/base.djt" %}
{% load staticfiles %}
{% block content %}

<div class="row main_header">
	<center><h2><b>Reset Your Password</b></h2></center>
	<br>
</div>

<div class="container">
	<div class="row" style="margin-top:3%;">
		<div class="col-sm-6 col-sm-offset-3">
			{% if validlink %}
			<div class="alert alert-info">
			<center><b>Please Enter Your New Password.</b></center>
			</div>
		</div>
	
	<div class="row" style="margin-top:3%;">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="well well-lg">
				
				<form method="POST" >
				{% csrf_token %}
					<div class="form-group">
						 {{form.as_p}}
					</div>

					<center><button type="submit" class="btn btn-success btn-lg">Change Password</button></center>
				</form>
				<br>
				<center><a class="btn btn-info btn-lg" href="/register">Or Login</a></center>
				{% else %}
					<div class="alert alert-danger">			  
			  <center>
			  			  <b><h3>The link is invalid</h3></b>
			  
			  </center>
			</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
</div>


<!-- <div class="copyright">
  <div style="text-align: center">Copyright &copy; NIT Warangal</div>
  <div style="text-align:center">Designed and Developed by WSDC</div>
</div>

	
</body>

<style type="text/css">
	.copyright {
	  position: relative;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
	  background-color: #c70039;
	  color: white;
	}
</style>
 -->
 {% endblock	%}