
{% extends "registration/base.djt" %}
{% load staticfiles %}
{% block content %}
<div class="row main_header">
	<center><h2><b>Password Reset</b></h2></center>
	<br>
</div>

<div class="ui center aligned container">
	<div class="row" style="margin-top:3%;">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="alert alert-info">
			<center><b>Please Enter Your Registered Email.</b></center>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:1%;">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="well well-lg">
				<center>
				<form method="POST">
				{% csrf_token %}
					<div class="form-group">
						 {{form.as_p}}
					</div>

					<center><button type="submit" class="btn btn-success btn-md">Reset Password</button></center>
				</form>
			</center>
				<br>
				<center><a href="/register">Or Login</a></center>
			</div>
		</div>
	</div>
</div>


{%endblock%}