{% extends "registration/base.djt" %}
{% load staticfiles %}
{% block content %}

<body>
	<!-- <center><a href="/"> <img  src="{% static 'img/HINDI2.png' %}" align="center" style="background-color:white;" height="110px" width="100%px" alt="National Institute of Technology Warangal" title="National Institute of Technology Warangal"/></a></center>

<div class="row" style="background-color:#003A6A; color: white;">
	<center><h2>Password reset successful!</h2></center>
	<br>
</div>
 -->


 <!-- <div class="row" style="margin-left: 0%">
		<a href="/"> <img  src="{% static 'img/nitwlogo.png' %}" align="center" style="background-color:#c70039; padding-left:0px" height="98px" width="99%px" alt="National Institute of Technology Warangal" title="National Institute of Technology Warangal"/></a>
	</div> -->

<div class="row main_header" ">
	<center><h2><b>Password reset successful!</b></h2></center>
	<br>
</div>
<div class="container">
	
	<div class="row" style="margin-top:2%">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="alert alert-success">			  
			  <strong>
			  Your new password has been set!
			  <br>Please Follow this link to Login.
			  </strong>
			  <br> <a href="/register">Login</a>
			</div>
		</div>
	</div>
	
	
</div>

{% endblock	%}